/* CSS HEX CODE */
:root {
  --minion-yellow: #fede59;
  --raw-sienna: #ff8337;
  --ruby-red: #fe4450;
  --russian-violet: #241b2f;
  --bubblegum-pink: #f17edb;
  --cyan-blue: #30cdb2;
  --white: hsla(0, 0%, 100%, 1);
  --greyish-white: hsla(0, 0%, 100%, 0.8);
}

html {
  font-size: 1rem;
}

body {
  margin: 0px;
  height: 100%;
  padding: 2rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface-ground);
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
