/* CSS HEX CODE */
:root {
  --minion-yellow: #fede59;
  --raw-sienna: #ff8337;
  --ruby-red: #fe4450;
  --russian-violet: #241b2f;
  --bubblegum-pink: #f17edb;
  --cyan-blue: #30cdb2;
  --white: hsla(0, 0%, 100%, 1);
  --greyish-white: hsla(0, 0%, 100%, 0.8);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--greyish-white);
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
